.btn {
  &.btn-default {
    &.btn-default-small {
      padding: 5px 15px;
      font-size: 13px;
    }
  }
}

.btn {
  a.wpjb-button {
    color: white !important;
    > span {
      display: none;
    }
  }
}

.stepper {
  display: flex;
  justify-content: center;
  .step {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 15px;
    color: #aaa;
    .step-nb {
      border-radius: 50%;
      border: solid 2px #aaa;
      height: 22px;
      width: 22px;
      text-align: center;
      font-size: 14px;
      line-height: 16px;
      font-weight: bold;
    }
    .step-txt {
      margin-top: 5px;
      font-size: 12px;
      font-weight: bold;
    }

    &.current {
      .step-nb {
        border-color: #3c65f5;
        background-color: #3c65f5;
        color: #fff;
      }
      .step-txt {
        color: #3c65f5;
      }
    }
    &.done {
    }
  }
}
