.btn {
  &.btn-default {
    &.btn-default-small {
      padding: 5px 15px;
      font-size: 13px;
    }
  }
}

.btn {
  a.wpjb-button {
    color: white !important;
    > span {
      display: none;
    }
  }
}
