.dashboard-section {
  .breacrumb-cover {
    position: relative;

    .header-panel {
      padding-right: 113px;

      .box-nav-tabs {
        // max-width: 765px;
        a {
          position: relative;
          padding: 5px 10px 5px 35px;
          font-size: 14px;

          img {
            width: 21px;
            position: absolute;
            left: 10px;
            top: 7px;
          }
        }
      }
    }

    .company-box {
      position: absolute;
      right: 15px;
      top: 15px;
    }
  }
}

.company-box.righted {
  padding: 15px;

  .sidebar-heading {
    display: block;
    .avatar-sidebar {
      figure {
        float: right;
        line-height: 0;
        .logo-placeholder {
          margin-bottom: 0;
        }
      }
      .sidebar-info {
        padding-left: 0;
        padding-right: 100px;
        text-align: right;
      }
    }
  }
}

.resume-single {
  .box-company-profile {
    max-width: 100%;
    display: flex;
    > * {
      flex: 1;
    }
    .image-company {
      flex: unset;
      margin-right: 20px;
      img {
        border-radius: 15px;
        width: 85px;
        height: 85px;
      }
    }
  }
}
