.wpjb-errors,
.wpjb-flash-error {
  color: red;
}
.wpjb-flash-info {
  width: 500px;
  color: #3c65f5;
  font-weight: bold;
  text-align: center;
  border: solid 2px #3c65f5;
  border-radius: 3px;
  margin: 17px auto;
  padding: 5px;
}
