@import "../jobbox-styles/abstracts/variables";
@import "../jobbox-styles/abstracts/mixins";

.box-view-type {
  > .btn {
    margin-top: -13px;
  }
}
.logo-placeholder {
  height: 50px;
  width: 50px;
  border-radius: 5px;
  background-color: #ccc;
  margin-bottom: 6px;

  &.for-detail {
    height: 85px;
    width: 85px;
  }
}
.card-grid-2.job-item-box {
  &:not(.job-featured) {
    background-color: #fff;
    .flash {
      display: none;
    }
  }
}
.pagination {
  .page-numbers {
    font-weight: bold;
    color: #a0abb8;
    font-size: 18px;
    padding: 10px;
    color: #a0abb8;
    border-radius: 50%;

    &.next,
    &.prev,
    &.current {
      background-color: #e0e6f7;
    }
    &.current {
      padding: 0;
      display: inline-block;
      height: 26px;
      width: 26px;
      text-align: center;
      color: #000;
      margin-top: 9px;
    }
  }
}

/* Job detail page */
@include media-breakpoint-between(lg, xl) {
  .job-details {
    .text-description {
      width: auto;
      min-width: auto;
      max-width: none;
      margin-right: 10px;
    }
  }
}

.box-related-job {
  border: none;
  margin: 0;
  padding: 0;
}
.sidebar-list-job {
  .text-description {
    width: auto;
    max-width: none;
  }
}

/* Job apply */
.apply-job-form {
  form {
    textarea {
      min-height: 100px;
    }
  }
}
