.popup-container {
  &:not(.visible) {
    display: none;
  }
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 99;

  > .popup {
    background-color: #fff;
    z-index: 2;
    position: relative;

    width: 650px;
    max-width: 100%;
    position: absolute;
    top: 25px;
    left: 50%;
    transform: translateX(-50%);

    overflow-x: hidden;
    overflow-y: auto;
    height: calc(100vh - 75px);

    > .content {
    }
  }

  .backdrop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #000;
    opacity: 0.5;
  }
}
