.wpjb-none {
  display: none;
}

/*********************/
/*** WPJB DEFAULTS ***/
/*********************/

[class*="wpjb-col-"] {
  float: left;
}

.wpjb-grid {
  margin: 0% 0% 0% 0%;
  margin-top: 10px;
}

.wpjb-grid.wpjb-grid-closed-top {
  border-top: 1px solid whitesmoke;
}

.wpjb-grid.wpjb-grid-compact .wpjb-grid-row > div {
  padding: 0;
}

.wpjb-grid .wpjb-grid-row.wpjb-click-area:hover {
  background-color: rgba(245, 245, 245, 0.01);
}

.wpjb-grid:after {
  content: "";
  display: table;
  clear: both;
}

.wpjb-grid .wpjb-grid-row {
  clear: both;
  overflow: hidden;
  padding: 1em 0 1em 0;
  margin: 0 0 0 0;
  border-bottom: 1px solid #e5e6ea;
}

.wpjb-grid .wpjb-grid-row > div {
  padding: 0 1% 0 1%;
}

.wpjb-grid .wpjb-grid-col-right {
  text-align: right;
}

.wpjb-grid .wpjb-grid-col-last {
  float: right;
}

.wpjb-grid .wpjb-grid-col-center {
  text-align: center;
}

.wpjb-grid .wpjb-sub {
  display: block;
  margin: 0 0 0 0;
  padding: 2px 0 0 0;
  line-height: 1.3em;
  font-size: 0.95em;
}

.wpjb-grid .wpjb-grid-head > div {
  text-transform: uppercase;
  font-size: 0.75em;
  font-weight: bold;
  line-height: 0.8em;
}

.wpjb-grid .wpjb-col-5 {
  width: 5%;
}
.wpjb-grid .wpjb-col-10 {
  width: 10%;
}
.wpjb-grid .wpjb-col-15 {
  width: 15%;
}
.wpjb-grid .wpjb-col-20 {
  width: 20%;
}
.wpjb-grid .wpjb-col-25 {
  width: 25%;
}
.wpjb-grid .wpjb-col-30 {
  width: 30%;
}
.wpjb-grid .wpjb-col-35 {
  width: 35%;
}
.wpjb-grid .wpjb-col-40 {
  width: 40%;
}
.wpjb-grid .wpjb-col-50 {
  width: 50%;
}
.wpjb-grid .wpjb-col-65 {
  width: 65%;
}
.wpjb-grid .wpjb-col-70 {
  width: 70%;
}
.wpjb-grid .wpjb-col-80 {
  width: 80%;
}

.wpjb-grid .wpjb-col-logo img {
  border: 0;
  border-radius: 0;
  padding: 0;
  box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  vertical-align: middle;
}

.wpjb-grid .wpjb-col-logo > div {
  padding: 1px 2px 1px 2px;
  border-radius: 2px;
  border: 1px solid whitesmoke;
  background-color: transparent;
  text-align: center;
  box-sizing: initial;
}

/* CHECKOUT */

.wpjb-payment-tax-label {
  display: block;
  color: gray;
  font-size: small;
}

.wpjb-page-default-form.wpjb-payment-form .wpjb-form fieldset legend {
  font-size: 1.2em;
  margin: 0 0 10px 0;
}

#wpjb-main .wpjb-checkout-form fieldset:after {
  display: none;
}

/* STRIPE */

.wpjb-form .wpjb-stripe-expiration input[type="text"] {
  width: 33.5%;
  display: inline-block;
}

.wpjb-stripe-expiration strong {
  width: 3%;
  display: inline-block;
  text-align: center;
}

/** Tabs foor checkout */

#content ul.wpjb-tabs {
  margin-bottom: 0;
}

ul.wpjb-tabs {
  margin: 0px;
  padding: 0 10px 0;
  list-style: none;
  border-bottom: 3px solid #eff0f2;
}

ul.wpjb-tabs li.current {
  color: #222;
  border: 3px solid #eff0f2;
  border-bottom: 3px solid #f8f9f9;
  top: 0px;
}
ul.wpjb-tabs li {
  background: none;
  border: 3px solid transparent;
  color: #222;
  display: inline-block;
  padding: 10px 15px;
  cursor: pointer;
  margin: 0 0 -3px 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

ul.wpjb-tabs li a {
  color: black;
  text-decoration: none;
}

ul.wpjb-tabs li.current {
  font-weight: bold;
}

/*******************/
/* DASHBOARD */

.wpjb-page-company-panel.wpjb-tabs .current {
  background: #f8f9f9;
}

#content ul.wpjb-page-company-panel.wpjb-tabs {
  margin-bottom: 0px;
  border-bottom: 0px;
}

.wpjb-tab-content {
  border: 1px solid whitesmoke;
  border-top: 0;
  padding: 0 5px 0 5px;
}
.wpjb-grid .wpjb-grid-row {
  clear: both;
  overflow: hidden;
  padding: 15px;
  margin: 0 0 0 0;
  border: 1px solid #e9e9e9;
  border-radius: 5px;
  margin-bottom: 5px;

  .wpjb-manage-title {
    font-weight: bold;
    font-size: 18px;
  }
  a:not(.wpjb-manage-action) {
    color: #3c65f5;
  }
}
.wpjb-grid .wpjb-grid-row > div {
  padding: 0 6px 0 6px;
}
.wpjb-grid .wpjb-col-logo > div.wpjb-icon-none {
  border: 1px solid rgba(84, 110, 122, 0.2);
  font-size: 34px;
  width: 48px;
  height: 48px;
  line-height: 48px;
}
.wpjb-grid .wpjb-col-main {
  width: 90%;
  width: calc(100% - 78px);
}
.wpjb-line-major {
  margin: 0 0 0 0;
  padding: 4px 0 4px 0;
  line-height: 20px;
  display: block;
}
.wpjb-line-minor {
  font-size: 14px;
  line-height: 18px;
  padding: 2px 0 2px 0;
  margin: 0;
}
.wpjb-line-major .wpjb-sub-title {
  float: right;
  line-height: 20px;
  padding-left: 12px;
}
.wpjb-line-major .wpjb-sub-title.wpjb-job_type {
  font-size: 12px;
}
.wpjb-line-minor .wpjb-sub.wpjb-sub-right {
  float: right;
  padding: 0 0 0 12px;
}

.wpjb-grid .wpjb-col-100 {
  width: 100%;
  box-sizing: border-box;
}

.wpjb-bulb {
  background: #9ecf32;
  font-weight: 700;
  color: #fff;
  margin: 0;
  padding: 5px;
  border: none;
  font-size: 11px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}

.wpjb-manage-actions-more {
  display: none;
  margin: 5px 0 5px 0;
}

.wpjb-manage-header-left {
  float: left;
  display: block;
}

.wpjb-manage-header-right {
  float: right;
  display: block;
}

.wpjb-manage-link a {
  text-decoration: none;
}

.wpjb-manage-actions-wrap {
  overflow: hidden;
  clear: both;
}

.wpjb-manage-actions-more {
  display: none;
  margin: 5px 0 5px 0;
}

.wpjb-manage-actions-left {
  float: left;
  display: block;
  height: 35px;
}

.wpjb-manage-actions-right {
  float: right;
  display: block;
  height: 35px;
}

.wpjb-manage-action,
a.wpjb-manage-action {
  display: inline-block;
  overflow: hidden;

  padding: 0 10px 0 5px;
  height: 28px;
  line-height: 26px;
  font-size: 12px;
  text-decoration: none;
  color: #4e4e4e;
  border: 1px solid #e5e6ea;
  border-radius: 3px;
  background-color: white;
}

.wpjb-manage-actions-left a.wpjb-manage-action {
  margin: 5px 5px 0 0;
}
.wpjb-manage-actions-right .wpjb-manage-action {
  margin: 5px 0 0 5px;
}
a.wpjb-manage-action:not(.wpjb-no-hover):hover {
  background-color: whitesmoke;
  color: #666;
  border-color: gray;
}
.wpjb-manage-action > span {
  font-size: 16px;
}
.wpjb-manage-delete-confirm {
  display: none;
}

.wpjb-manage-action.wpjb-star-ratings {
  border: 1px solid transparent;
  background-color: transparent;
  padding: 0;
}

/* job applications but probably will affect more */
/* line 1309, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
.wpjb-table {
  width: 100%;
}
/* line 1311, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
.wpjb-table tr {
  border-bottom: 1px solid #eff0f2;
}
/* line 1314, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
.wpjb-table td {
  padding: 1em 0;
}

.wpjb-info .wpjb-glyphs,
.wpjb-table .wpjb-column-location .wpjb-glyphs {
  font-size: 16px;
  opacity: 1;
  margin-left: -25px;
}

/**** Dashboard memberships */ ///

/* Membership List Page */

.jobeleon-normal-bg {
  background-color: #4294ff;
}

div.wpjb-page-company-products {
  display: flex;
  flex-direction: column;

  h2 {
    font-size: 20px;
  }
  h3 {
    font-size: 18px;
  }
}

div.wpjb-page-company-products div.wpjb-company-product {
  display: flex;
  flex-direction: column;
  border: 1px solid #f5f5f5;
  margin-bottom: 30px;
}

div.wpjb-page-company-products div.wpjb-company-product-header {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}
div.wpjb-page-company-products div.wpjb-company-product-header h3 {
  display: flex;
  flex-grow: 1;
  margin: 0px;
  padding: 10px 20px;
  color: #fff;
}
div.wpjb-page-company-products div.wpjb-company-product-header h3 {
  display: flex;
  flex-grow: 2;
}
div.wpjb-page-company-products
  div.wpjb-company-product-header
  .wpjb-company-product-status {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  flex-wrap: nowrap;
  justify-content: flex-end;
  padding: 5px 15px;
}
div.wpjb-page-company-products
  div.wpjb-company-product-subheader
  .wpjb-company-product-indicator {
  margin-right: 15px;
}
div.wpjb-page-company-products div.wpjb-company-product-subheader {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  background-color: #f5f5f5;
  padding: 5px 15px;
}
div.wpjb-page-company-products div.wpjb-company-product-details {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
div.wpjb-page-company-products
  div.wpjb-company-product-additional
  div.wpjb-company-product-details-single,
div.wpjb-page-company-products
  div.wpjb-company-product-details
  div.wpjb-company-product-details-single {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 10px 15px;
  border: 1px solid #f5f5f5;
  margin: 10px;
}
div.wpjb-page-company-products div.wpjb-company-product-actions {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  padding: 0px 15px;
}
div.wpjb-page-company-products div.wpjb-company-product-actions-left {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}
div.wpjb-page-company-products div.wpjb-company-product-actions-left a {
  margin-right: 10px;
}
div.wpjb-page-company-products div.wpjb-company-product-right {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  align-items: flex-end;
}
div.wpjb-page-company-products div.wpjb-company-product-additional {
  padding: 5px 15px;
  background-color: #f5f5f5;
  display: flex;
  display: none;
  flex-direction: column;
  flex-wrap: wrap;
}
div.wpjb-page-company-products
  div.wpjb-company-product-additional
  div.wpjb-company-product-header {
  font-weight: bold;
}

/*** Liste des offres sur la page add offre */
.wpjb-motif-bg {
  background-color: #5cace2;
}
.wpjb-listing-type-x {
  display: block;
  clear: both;
  overflow: hidden;
  background-color: #fcfcfc;
  margin-bottom: 10px;
}

.wpjb-listing-type {
  width: 90%;
  box-sizing: border-box;
  float: left;
  border-right: 1px solid whitesmoke;
  padding: 10px 5px 10px 5px;
}
.wpjb-listing-radio {
  width: 10%;
  box-sizing: border-box;
  padding-left: 10px;
  border-right: 1px solid transparent;
}

.wpjb-listing-type-title {
  padding: 2px 0px;
  display: inline-block;
  float: left;
}

.wpjb-listing-type-name {
  font-size: 18px;
  clear: both;
  overflow: hidden;
}

.wpjb-listing-type-cost {
  padding: 2px 8px;
  float: right;
  color: white;
  border-radius: 5px;
  // font-weight: bold;
  display: inline-block;
}

.wpjb-listing-type-features {
  width: 100%;
  font-size: 13px;
}

.wpjb-listing-type-features .wpjb-listing-border {
  border-left: 1px solid #e6e6e6;
  margin-left: 0.4em;
  padding-left: 0.4em;
}

.wpjb-listing-type-features
  .wpjb-listing-type-feature-duration
  .wpjb-glyphs:before {
  margin-left: 0;
}

.wpjb-listing-type-all .wpjb-listing-type-value {
  font-size: 18px;
}

/* CUTE INPUT FIELDS */

.wpjb-cute-input {
  position: relative;
  display: inline-block;
  margin-bottom: 15px;
  padding-left: 30px;
  cursor: pointer;
}

.wpjb-cute-input input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.wpjb-cute-input-indicator {
  position: absolute;
  top: 2px;
  left: 0;
  width: 20px;
  height: 20px;
  background: #e6e6e6;
}

.wpjb-cute-input.wpjb-cute-radio .wpjb-cute-input-indicator {
  border-radius: 50%;
}
/* Hover and focus states */
.wpjb-cute-input:hover input ~ .wpjb-cute-input-indicator,
.wpjb-cute-input input:focus ~ .wpjb-cute-input-indicator {
  background: #ccc;
}

/* Checked state */
.wpjb-cute-input input:checked ~ .wpjb-cute-input-indicator {
  background: #2aa1c0;
}

/* Hover state whilst checked */
.wpjb-cute-input:hover
  input:not([disabled]):checked
  ~ .wpjb-cute-input-indicator,
.wpjb-cute-input input:checked:focus ~ .wpjb-cute-input-indicator {
  background: #0e647d;
}

/* Disabled state */
.wpjb-cute-input input:disabled ~ .wpjb-cute-input-indicator {
  pointer-events: none;
  opacity: 0.6;
  background: #e6e6e6;
}

/* Check mark */
.wpjb-cute-input-indicator:after {
  position: absolute;
  display: none;
  content: "";
}

/* Show check mark */
.wpjb-cute-input input:checked ~ .wpjb-cute-input-indicator:after {
  display: block;
}

/* Checkbox tick */
.wpjb-cute-input.wpjb-cute-checkbox .wpjb-cute-input-indicator:after {
  top: 4px;
  left: 8px;
  width: 3px;
  height: 8px;
  transform: rotate(45deg);
  border: solid #fff;
  border-width: 0 2px 2px 0;
}

/* Disabled tick colour */
.wpjb-cute-input.wpjb-cute-checkbox
  input:disabled
  ~ .wpjb-cute-input-indicator:after {
  border-color: #7b7b7b;
}

/* Radio button inner circle */
.wpjb-cute-input.wpjb-cute-radio .wpjb-cute-input-indicator:after {
  top: 7px;
  left: 7px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #fff;
}

/* Disabled circle colour */
.wpjb-cute-input.wpjb-cute-radio
  input:disabled
  ~ .wpjb-cute-input-indicator:after {
  background: #7b7b7b;
}

.wpjb-x-label {
  margin: 0 25px 0 5px;
  height: 20px;
  display: inline-block;
}

/* Listing Types (Jobeleon Only) */

.wpjb .wpjb-cute-input.wpjb-cute-radio {
  margin-left: 12px;
  margin-top: 14px;
}

.wpjb .wpjb-listing-type-cost {
  padding: 4px 8px;
  border-radius: 5px;
  font-weight: normal;
  border-radius: 5px;
}

/* APPLICANT DASHBOARD */
.wpjb-manage-header-right > li {
  display: inline;
  margin: 0 0 0 0.75em;
}
.wpjb-manage-header-right > li .wpjb-manage-header-right-item-text {
  font-size: 13px;
}
.wpjb-manage-header-right > li {
  display: block;
  margin: 0;
}
