/**
Theme override and custom styles for current theme
*/
@import url(https://fonts.bunny.net/css?family=plus-jakarta-sans:400,500,600,700,800);
@import url(https://fonts.bunny.net/css?family=plus-jakarta-sans:400,500,600,700,800);
.wpjb-none {
  display: none;
}

/*********************/
/*** WPJB DEFAULTS ***/
/*********************/
[class*=wpjb-col-] {
  float: left;
}

.wpjb .wpjb-grid {
  margin: 0% 0% 0% 0%;
}

.wpjb .wpjb-grid.wpjb-grid-closed-top {
  border-top: 1px solid whitesmoke;
}

.wpjb .wpjb-grid.wpjb-grid-compact .wpjb-grid-row > div {
  padding: 0;
}

.wpjb .wpjb-grid .wpjb-grid-row.wpjb-click-area:hover {
  background-color: rgba(245, 245, 245, 0.01);
}

.wpjb .wpjb-grid:after {
  content: "";
  display: table;
  clear: both;
}

.wpjb-grid .wpjb-grid-row {
  clear: both;
  overflow: hidden;
  padding: 1em 0 1em 0;
  margin: 0 0 0 0;
  border-bottom: 1px solid #e5e6ea;
}

.wpjb-grid .wpjb-grid-row > div {
  padding: 0 1% 0 1%;
}

.wpjb-grid .wpjb-grid-col-right {
  text-align: right;
}

.wpjb-grid .wpjb-grid-col-last {
  float: right;
}

.wpjb-grid .wpjb-grid-col-center {
  text-align: center;
}

.wpjb .wpjb-grid .wpjb-sub {
  display: block;
  margin: 0 0 0 0;
  padding: 2px 0 0 0;
  line-height: 1.3em;
  font-size: 0.95em;
}

.wpjb .wpjb-grid .wpjb-grid-head > div {
  text-transform: uppercase;
  font-size: 0.75em;
  font-weight: bold;
  line-height: 0.8em;
}

.wpjb .wpjb-grid .wpjb-col-5 {
  width: 5%;
}

.wpjb .wpjb-grid .wpjb-col-10 {
  width: 10%;
}

.wpjb .wpjb-grid .wpjb-col-15 {
  width: 15%;
}

.wpjb .wpjb-grid .wpjb-col-20 {
  width: 20%;
}

.wpjb .wpjb-grid .wpjb-col-25 {
  width: 25%;
}

.wpjb .wpjb-grid .wpjb-col-30 {
  width: 30%;
}

.wpjb .wpjb-grid .wpjb-col-35 {
  width: 35%;
}

.wpjb .wpjb-grid .wpjb-col-40 {
  width: 40%;
}

.wpjb .wpjb-grid .wpjb-col-50 {
  width: 50%;
}

.wpjb .wpjb-grid .wpjb-col-65 {
  width: 65%;
}

.wpjb .wpjb-grid .wpjb-col-70 {
  width: 70%;
}

.wpjb .wpjb-grid .wpjb-col-80 {
  width: 80%;
}

.wpjb .wpjb-grid .wpjb-col-logo img {
  border: 0;
  border-radius: 0;
  padding: 0;
  box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  vertical-align: middle;
}

.wpjb .wpjb-grid .wpjb-col-logo > div {
  padding: 1px 2px 1px 2px;
  border-radius: 2px;
  border: 1px solid whitesmoke;
  background-color: transparent;
  text-align: center;
  box-sizing: initial;
}

/* CHECKOUT */
.wpjb .wpjb-payment-tax-label {
  display: block;
  color: gray;
  font-size: small;
}

.wpjb .wpjb-page-default-form.wpjb-payment-form .wpjb-form fieldset legend {
  font-size: 1.2em;
  margin: 0 0 10px 0;
}

#wpjb-main .wpjb-checkout-form fieldset:after {
  display: none;
}

/* STRIPE */
.wpjb .wpjb-form .wpjb-stripe-expiration input[type=text] {
  width: 33.5%;
  display: inline-block;
}

.wpjb .wpjb-stripe-expiration strong {
  width: 3%;
  display: inline-block;
  text-align: center;
}

/** Tabs foor checkout */
#content ul.wpjb-tabs {
  margin-bottom: 0;
}

.wpjb ul.wpjb-tabs {
  margin: 0px;
  padding: 0 10px 0;
  list-style: none;
  border-bottom: 3px solid #eff0f2;
}

.wpjb ul.wpjb-tabs li.current {
  color: #222;
  border: 3px solid #eff0f2;
  border-bottom: 3px solid #f8f9f9;
  top: 0px;
}

.wpjb ul.wpjb-tabs li {
  background: none;
  border: 3px solid transparent;
  color: #222;
  display: inline-block;
  padding: 10px 15px;
  cursor: pointer;
  margin: 0 0 -3px 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.wpjb ul.wpjb-tabs li a {
  color: black;
  text-decoration: none;
}

.wpjb ul.wpjb-tabs li.current {
  font-weight: bold;
}

.btn.btn-default.btn-default-small {
  padding: 5px 15px;
  font-size: 13px;
}

.btn a.wpjb-button {
  color: white !important;
}
.btn a.wpjb-button > span {
  display: none;
}
.btn.submit-btn {
  width: 220px;
}

.submit-box {
  text-align: center;
}
.submit-box .btn {
  margin: 0 10px;
}

.stepper {
  display: flex;
  justify-content: center;
}
.stepper .step {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 15px;
  color: #aaa;
  width: 80px;
  position: relative;
}
.stepper .step .step-nb {
  border-radius: 50%;
  border: solid 2px #aaa;
  height: 22px;
  width: 22px;
  text-align: center;
  font-size: 14px;
  line-height: 16px;
  font-weight: bold;
}
.stepper .step .step-txt {
  margin-top: 5px;
  font-size: 12px;
  font-weight: bold;
}
.stepper .step .step-bar {
  position: absolute;
  width: 90px;
  border-bottom: solid 2px #aaa;
  top: 10px;
  left: calc(50% + 10px);
}
.stepper .step.current .step-nb {
  border-color: #3c65f5;
  background-color: #3c65f5;
  color: #fff;
}
.stepper .step.current .step-txt {
  color: #3c65f5;
}
.stepper .step.current .step-bar {
  border-style: dashed;
}
.stepper .step.done .step-nb {
  border-color: #3c65f5;
  color: #3c65f5;
}
.stepper .step.done .step-bar {
  border-color: #3c65f5;
}
.stepper .step:last-child .step-bar {
  display: none;
}

footer.entry-meta {
  display: none;
}

.wpjb-errors,
.wpjb-flash-error {
  color: red;
}

.wpjb-flash-info {
  width: 500px;
  max-width: 100%;
  color: #3c65f5;
  font-weight: bold;
  text-align: center;
  border: solid 2px #3c65f5;
  border-radius: 3px;
  margin: 17px auto;
  padding: 5px;
}

.wpjb-hint {
  color: #999;
  font-size: 13px;
}

.wpjb-upload-media {
  display: none;
}

form input[type=text],
form input[type=email],
form input[type=date],
form input[type=time],
form input[type=tel],
form .form-control {
  height: 38px;
  color: #000;
  font-size: 14px;
  padding: 0.375rem 0.75rem;
}
form label.required:after {
  content: "*";
}
form .wpjb-options-list input[type=radio] {
  margin-right: 10px;
}

.group-coupon .field-container > label + div > .wpjb-listing-group,
.group-coupon .field-container > label + div > .wpjb-listing-type-x {
  padding-left: 10px;
  border-color: #3c65f5;
  border-style: solid;
  border-width: 0 1px 0 1px;
  margin: 0;
}
.group-coupon .field-container > label + div .wpjb-listing-group {
  font-weight: bold;
  padding-top: 4px;
  color: #3c65f5;
  border-top: solid 1px #3c65f5;
}
.group-coupon .field-container > label + div .wpjb-listing-type-x {
  display: flex;
}
.group-coupon .field-container > label + div .wpjb-listing-type-x:last-of-type {
  border-bottom: solid 1px #3c65f5;
}
.group-coupon .field-container > label + div .wpjb-listing-type.wpjb-listing-radio {
  margin-right: 10px;
}

.wpjb-element-name-job_country {
  display: none;
}

/* CHECKOUT PAGE */
input.wpjb-enter-discount-value {
  width: 150px;
  height: 36px;
  margin-right: 15px;
}

.wpjb-enter-discount-apply {
  color: #3c65f5;
}

#wpjb-checkout-gateway .wpjb-tab-link.current {
  border-bottom-color: #fff;
}

.wpjb-checkout-form {
  border: solid 3px #eff0f2;
  border-top: none;
}

.wpjb-payment-form fieldset > legend {
  font-weight: bold;
  margin-top: 30px !important;
}
.wpjb-payment-form fieldset a {
  color: #3c65f5;
}
.wpjb-payment-form fieldset input[type=text] {
  margin-bottom: 10px;
  width: 250px;
}
.wpjb-payment-form fieldset label {
  width: 250px;
}
.wpjb-payment-form fieldset > div {
  display: flex;
}
@media (max-width: 767.98px) {
  .wpjb-payment-form fieldset > div {
    flex-direction: column;
  }
}

header.header {
  position: relative;
}
header.header.stickable {
  position: sticky;
  top: 0px;
  background-color: #fff;
  z-index: 50;
  padding: 20px 0;
}
header.header.stickable.stuck {
  box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.05);
}
header.header .header-logo {
  width: 215px;
  min-height: 36px;
}
header.header .header-logo img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: auto;
  width: 150px;
  max-width: none;
}
header.header .main-menu > li:last-child {
  padding-bottom: 10px !important;
}

.mobile-menu-active .body-overlay-1 {
  opacity: 0.5;
  visibility: visible;
  background: #eee;
}

.mobile-header-active {
  top: 76px;
  min-height: 0;
  bottom: auto;
}
.mobile-header-active .mobile-header-wrapper-inner {
  padding: 0;
  height: auto;
}
.mobile-header-active .mobile-header-wrapper-inner .mobile-header-content-area {
  padding-top: 10px;
}
.mobile-header-active .mobile-header-wrapper-inner .mobile-header-content-area .mobile-menu-wrap > img {
  width: 150px;
}

.burger-icon.burger-close {
  position: absolute;
  top: 7px !important;
  right: 15px;
}

.body-overlay-1 {
  cursor: pointer;
}

footer.footer .footer-logo {
  width: 150px;
}

.popup-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}
.popup-container:not(.visible) {
  display: none;
}
.popup-container > .popup {
  background-color: #fff;
  z-index: 2;
  position: relative;
  width: 650px;
  max-width: 100%;
  padding: 25px;
  position: absolute;
  top: 25px;
  left: 50%;
  transform: translateX(-50%);
  overflow-x: hidden;
  overflow-y: auto;
  height: calc(100vh - 75px);
}
.popup-container .close-popup {
  position: absolute;
  right: 25px;
  top: 25px;
  padding: 5px;
  width: 27px;
  border-radius: 50%;
}
.popup-container .backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(153, 153, 153, 0.3333333333);
}

.wpjb-overlay {
  display: none;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4196078431);
  position: fixed;
  top: 0;
  z-index: 9999;
  text-align: center;
}
.wpjb-overlay > div {
  background: #fff;
  padding: 20px;
  display: inline-block;
  width: 600px;
  margin-top: 100px;
  border-radius: 10px;
}

.box-view-type > .btn {
  margin-top: -13px;
}

.logo-placeholder {
  height: 50px;
  width: 50px;
  border-radius: 5px;
  background-color: #ccc;
  margin-bottom: 6px;
}
.logo-placeholder.for-detail {
  height: 85px;
  width: 85px;
}

.card-grid-2:not(.job-featured) {
  background-color: #fff;
}
.card-grid-2:not(.job-featured) .flash {
  display: none;
}

.pagination .page-numbers {
  font-weight: bold;
  color: #a0abb8;
  font-size: 18px;
  padding: 10px;
  color: #a0abb8;
  border-radius: 50%;
}
.pagination .page-numbers.next, .pagination .page-numbers.prev, .pagination .page-numbers.current {
  background-color: #e0e6f7;
}
.pagination .page-numbers.current {
  padding: 0;
  display: inline-block;
  height: 26px;
  width: 26px;
  text-align: center;
  color: #000;
  margin-top: 9px;
}

.bar-search-form input {
  border: none !important;
  border-radius: 0px;
  padding: 7px 20px 10px 34px;
  display: inline-block;
  width: 100%;
  background: transparent;
  box-shadow: none;
  font-size: 16px;
  color: #4f5e64;
  margin-right: 10px;
  background: url(../imgs/page/homepage1/key-numbers.svg) no-repeat left 10px center;
}
.bar-search-form input:focus, .bar-search-form input:active {
  border: none;
}
.bar-search-form input::-moz-placeholder {
  font-size: 15px;
}
.bar-search-form input::placeholder {
  font-size: 15px;
}
.bar-search-form .select2 {
  padding-top: 11px !important;
  max-width: 240px !important;
}
.bar-search-form .select2:first-of-type::before {
  background: url(../imgs/template/icons/industry.svg) no-repeat !important;
}

@media (min-width: 992px) {
  .main-menu.middle-screen {
    display: none;
  }
}
@media (max-width: 991.98px) {
  .main-menu.large-screen {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 1199.98px) {
  .header .burger-icon {
    display: none;
  }
  .header .main-header .header-nav {
    width: 100%;
  }
  .header .main-header .header-right {
    display: inline-block;
  }
  .header .nav-main-menu {
    display: inline-block;
  }
}/*# sourceMappingURL=style.css.map */