/**
Theme override and custom styles for current theme
*/
@import url(https://fonts.bunny.net/css?family=plus-jakarta-sans:400,500,600,700,800);
.btn.btn-default.btn-default-small {
  padding: 5px 15px;
  font-size: 13px;
}

.btn a.wpjb-button {
  color: white !important;
}
.btn a.wpjb-button > span {
  display: none;
}

.wpjb-errors,
.wpjb-flash-error {
  color: red;
}

.wpjb-flash-info {
  width: 500px;
  color: #3c65f5;
  font-weight: bold;
  text-align: center;
  border: solid 2px #3c65f5;
  border-radius: 3px;
  margin: 17px auto;
  padding: 5px;
}

header.header {
  position: relative;
}
header.header.stickable {
  position: sticky;
  top: 0px;
  background-color: #fff;
  z-index: 50;
  padding: 20px 0;
}
header.header.stickable.stuck {
  box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.05);
}
header.header .header-logo {
  width: 215px;
  min-height: 36px;
}
header.header .header-logo img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: auto;
  width: 150px;
  max-width: none;
}
header.header .main-menu > li:last-child {
  padding-bottom: 10px !important;
}

.mobile-menu-active .body-overlay-1 {
  opacity: 0.5;
  visibility: visible;
  background: #eee;
}

.mobile-header-active {
  top: 76px;
  min-height: 0;
  bottom: auto;
}
.mobile-header-active .mobile-header-wrapper-inner {
  padding: 0;
  height: auto;
}
.mobile-header-active .mobile-header-wrapper-inner .mobile-header-content-area {
  padding-top: 10px;
}
.mobile-header-active .mobile-header-wrapper-inner .mobile-header-content-area .mobile-menu-wrap > img {
  width: 150px;
}

.burger-icon.burger-close {
  position: absolute;
  top: 7px !important;
  right: 15px;
}

.body-overlay-1 {
  cursor: pointer;
}

footer.footer .footer-logo {
  width: 150px;
}

.popup-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}
.popup-container:not(.visible) {
  display: none;
}
.popup-container > .popup {
  background-color: #fff;
  z-index: 2;
  position: relative;
  width: 650px;
  max-width: 100%;
  padding: 25px;
  position: absolute;
  top: 25px;
  left: 50%;
  transform: translateX(-50%);
  overflow-x: hidden;
  overflow-y: auto;
  height: calc(100vh - 75px);
}
.popup-container .close-popup {
  position: absolute;
  right: 25px;
  top: 25px;
  padding: 5px;
  width: 27px;
  border-radius: 50%;
}
.popup-container .backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(153, 153, 153, 0.3333333333);
}

.wpjb-overlay {
  display: none;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4196078431);
  position: fixed;
  top: 0;
  z-index: 9999;
  text-align: center;
}
.wpjb-overlay > div {
  background: #fff;
  padding: 20px;
  display: inline-block;
  width: 600px;
  margin-top: 100px;
  border-radius: 10px;
}

.box-view-type > .btn {
  margin-top: -13px;
}

.logo-placeholder {
  height: 50px;
  width: 50px;
  border-radius: 5px;
  background-color: #ccc;
  margin-bottom: 6px;
}
.logo-placeholder.for-detail {
  height: 85px;
  width: 85px;
}

.card-grid-2:not(.job-featured) {
  background-color: #fff;
}
.card-grid-2:not(.job-featured) .flash {
  display: none;
}

.pagination .page-numbers {
  font-weight: bold;
  color: #a0abb8;
  font-size: 18px;
  padding: 10px;
  color: #a0abb8;
  border-radius: 50%;
}
.pagination .page-numbers.next, .pagination .page-numbers.prev, .pagination .page-numbers.current {
  background-color: #e0e6f7;
}
.pagination .page-numbers.current {
  padding: 0;
  display: inline-block;
  height: 26px;
  width: 26px;
  text-align: center;
  color: #000;
  margin-top: 9px;
}

.bar-search-form input {
  border: none !important;
  border-radius: 0px;
  padding: 7px 20px 10px 34px;
  display: inline-block;
  width: 100%;
  background: transparent;
  box-shadow: none;
  font-size: 16px;
  color: #4f5e64;
  margin-right: 10px;
  background: url(../imgs/page/homepage1/key-numbers.svg) no-repeat left 10px center;
}
.bar-search-form input:focus, .bar-search-form input:active {
  border: none;
}
.bar-search-form input::-moz-placeholder {
  font-size: 15px;
}
.bar-search-form input::placeholder {
  font-size: 15px;
}
.bar-search-form .select2 {
  padding-top: 11px !important;
  max-width: 240px !important;
}
.bar-search-form .select2:first-of-type::before {
  background: url(../imgs/template/icons/industry.svg) no-repeat !important;
}

@media (min-width: 992px) {
  .main-menu.middle-screen {
    display: none;
  }
}
@media (max-width: 991.98px) {
  .main-menu.large-screen {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 1199.98px) {
  .header .burger-icon {
    display: none;
  }
  .header .main-header .header-nav {
    width: 100%;
  }
  .header .main-header .header-right {
    display: inline-block;
  }
  .header .nav-main-menu {
    display: inline-block;
  }
}/*# sourceMappingURL=style.css.map */