html {
  overflow-y: scroll;
}

/* Change background for top & bottom bar for menu pro */
#header,
#footer {
  &.pro-bg {
    background-color: #5cace2;
  }
  &.pro-bg a {
    color: #fff;
  }
}

/* Admin top bar */
#wpadminbar {
  #wp-admin-bar-wp-logo,
  #wp-admin-bar-comments,
  #wp-admin-bar-new-content,
  #wp-admin-bar-customize,
  #wp-admin-bar-edit,
  #wp-admin-bar-search,
  #wp-admin-bar-wp_adminer,
  .ab-sub-wrapper {
    display: none !important;
  }
}
